#header4-k H1 {
  text-align: left;
  color: #000000;
}
#header3-9 H3 {
  text-align: center;
}
#header3-9 B {
  font-size: 48px;
}
#content1-0 P {
  color: #000000;
}
#header3-a H3 {
  text-align: center;
}
#header3-a B {
  font-size: 48px;
}
#content1-1 P {
  text-align: center;
}
#header3-c H3 {
  text-align: center;
}
#header3-c B {
  font-size: 48px;
}
#content1-2 P {
  text-align: center;
}
#header3-f H3 {
  text-align: center;
}
#header3-f B {
  font-size: 48px;
}
#content1-3 P {
  text-align: center;
}
#header3-7 H3 {
  text-align: center;
}
#header3-7 B {
  font-size: 48px;
}
#content1-4 P {
  text-align: center;
}
#header3-d H3 {
  text-align: center;
}
#header3-d B {
  font-size: 48px;
}
#content1-5 P {
  text-align: center;
}
#header3-b H3 {
  text-align: center;
}
#header3-b B {
  font-size: 48px;
}
#header3-14 H3 {
  text-align: center;
}
